[Unit]
Description=Nonav API service (internal)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nonav
Group=nonav
WorkingDirectory=/opt/nonav
EnvironmentFile=/etc/nonav/internal.env
ExecStart=/opt/nonav/bin/nonav
Restart=always
RestartSec=2
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
