NONAV_API_LISTEN_ADDR=:8081
NONAV_GATEWAY_LISTEN_ADDR=:8080
NONAV_API_BASE_URL=http://127.0.0.1:8081
NONAV_FRONTEND_DEV_PROXY_URL=
NONAV_DB_PATH=./data/nonav.db
NONAV_WEB_DIST_DIR=./web-dist
NONAV_PUBLIC_BASE_URL=https://node.sourcedream.cn
NONAV_CORS_ORIGIN=https://node.sourcedream.cn
NONAV_DEFAULT_SHARE_TTL_HOURS=24
